@import "variables.less";

.profile {

	.fix1 {
		font-size: 16px;
		line-height: 24px;
	}

}

#page-registration {
	padding-top: 100px;
	padding-bottom: 100px;

	.form-container {
		width: 100%;
		max-width: 400px;
		padding: 0 25px;
		margin: 0 auto;
	}

}

.p-bottom-20 {
	padding-bottom: 20px;
}

#organization-view {

	.resources {
		.nav {
			margin-bottom: 30px;
		}

		#current_apps {
			.item {
				a {
					line-height: 30px;
					.grey-link();
				}
			}
		}

	}
}

.page-index {
	.wrap1, .wrap1-sm {
		text-align: center;
		.phones {
			width: auto;
			display: inline-block;
			margin: 0 auto;
			font-size: 48px;
			padding-left: 60px;
			background: url('/images/style/phone.png') no-repeat center left;
			background-size: autp;
			margin-bottom: 30px;
			color: #f00;
			@media(max-width: 768px) {
				font-size: 24px;
			}
		}
		.link {
			font-size: 64px;
			margin-bottom: 20px;
			color: #f00;
			@media(max-width: 768px) {
				font-size: 24px;
			}
		}
		.android {
			margin-bottom: 45px;
		}

		h1 {
			margin-bottom: 30px;
			@media(max-width: 768px) {
				font-size: 24px;
			}
		}
	}
}

#update-report {
	#report-form {
		padding-bottom: 40px;
		margin-bottom: 40px;
	}
	#file-list {
		max-width: 800px;
		margin: 0 auto;
			padding-bottom: 40px;
			margin-bottom: 40px;
		.item {
			line-height: 30px;
			.title {
				float: left;
				width: 70%;
			}
			.controls {
				float: left;
				width: 30%;
			}
			&:after {
				content: "";
				display: block;
				clear: both;
			}
			&:hover {
				background: rgba(0,0,0,.1);
			}
		}
	}
}

.map-default-index {
	position: relative;

	.map-layers {
		position: absolute;
		right: 20px;
		top: 20px;
		max-width: 200px;
		width: 100%;
		a {
			display: block;
			padding: 5px 10px;
			background: #fff;
			color: #000;
			border-bottom: 1px solid @color1;
			text-decoration: none;
			&:first-child {
				.border-radiuses(5px, 0, 0, 5px);
			}
			&:last-child {
				.border-radiuses(0, 5px, 5px, 0);
				border-bottom: none;
			}
			&.active {
				background: @color2;
				color: #fff;
			}
			&:hover, &:active {
				text-decoration: none;
			}

			img {
				max-width: 25px;
				height: auto;
				background: #fff;
				margin-right: 15px;
			}
		}
	}

}
