@path: "../../../../web/css";
@import "@{path}/variables.less";

.dashboard {
	
	.panel {
		border: none;
		border-radius: 0;
		.chart {
			width: 100%;
			padding: 30px;
			
			.canvas {
				height: 450px;
				
				&.high {
					height: 1200px;
				}
				
			}			
		}
		
		.board {
			min-height: 510px;
			padding: 30px;
			
			.stats-row {
				margin-top: 30px;
			}
			
		}
		
		.content {			
			padding: 30px;
		}
		
		#mapid {
			height: 490px;
			
			.info {
			    padding: 6px 8px;
			    font: 14px/16px Arial, Helvetica, sans-serif;
			    background: white;
			    background: rgba(255,255,255,0.8);
			    box-shadow: 0 0 15px rgba(0,0,0,0.2);
			    border-radius: 5px;
			}
			.info h4 {
			    margin: 0 0 5px;
			    color: #777;
			}
			.legend {
			    line-height: 18px;
			    color: #555;
			}
			.legend i {
			    width: 18px;
			    height: 18px;
			    float: left;
			    margin-right: 8px;
			    opacity: 0.7;
			}
			
		}
		
	}
	
	
	
}


.by-type {
	.fix1 {
		height: 241px;
	}
}

@media (max-width: 998px) {
	
	.dashboard {		
		.panel {			
			.board {
				min-height: auto;
			}
			.content {
				padding: 15px;
			}			
		}
	}	
		
	
}