@import "../../../../web/css/variables.less";

.notify-link-bar {
	span {
		padding: 5px;
		background: #ffa61a;
		color: #000;
		margin-left: 10px;
		font-size: 11px;
		font-weight: 600;
		.border-radius(5px);
	}
}